<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <header class="header">
            <div class="cart">

                <!-- <form action="#" class="search-form" @submit.prevent="filter">
                    <input type="text" class="search-field" v-model="userSearch">
                    <button class="btn-search" type="submit">
                        <i class="fas fa-search">Искать</i>
                    </button>
                </form> -->

                <filter></filter>

                <button class="btn-cart" type="button" @click="showCart = !showCart">Корзина</button>
                <div class="cart-block" v-show="showCart">
                    <p v-if="!cartItems.length">
                        Cart is empty
                    </p>

                    <div class="cart-item" v-for="item of cartItems" :key="item.id_product">
                        <div class="product-bio">
                            <img class="img" :src="imgCart" alt="img">
                            <div class="product-desc">
                                <div class="product-title">{{item.product_name}}</div>
                                <div class="product-quantity">Количество: {{item.quantity}}</div>
                                <div class="product-single-price">Цена: {{item.price}}$</div>
                            </div>

                        </div>

                        <div class="right-block">
                            <div class="product-price">
                                Итого: {{item.quantity * item.price}}$
                            </div>
                            <button class="del-btn" @click="remove(item)">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <products :products="filtered" :img="imgCatalog">
            </products>
            <!-- product и img с товарами отправляем в компонент -->
            <!-- @add-product="addProduct" -->
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="/js/ProductComponent.js"></script>
    <script src="js/cart.js"></script>
    <script src="/js/filter.js"></script>
    <script src="/js/js.js"></script>



</body>